* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ritsNav {
  /* border:2px solid red; */
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #124561;
  padding-left:10px ;
  padding-right:10px ;

}

/* styles.css */
/* styles.css */
.logout-option {
  position: absolute;
  top: 40px;
  /* Adjust this value as needed */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  z-index: 1000;
}

.logout-option button {
  background-color: #0A6ED1;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-option button:hover {
  background-color: #084c96;
}

.ritslogo {
  width: 5vw !important;
  height: 4.6vh !important;
}

section {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  /* border: 2px solid red; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 45px;

}

.InputContainer {
  /* border: 2px solid hotpink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  

}
input{
  padding: 5px;
  width: 40vh;
}

/* .Inp4{

  width: 15vh;

} */

input:focus{
  border: 2px dotted rgb(35, 33, 33);
  /* border-color: rgba(67, 57, 57, 0.131); */
}

.ButtonContainer {
  /* border: 2px dotted aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: '40px';

}

.GoButton{
  /* display: block; */
  background-color: #0A6ED1;
  color: white;
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  margin-right: 5px;
  
}
.clearButton{
  background-color: white;
  border: none;
  color:#0A6ED1 ;
}

.SingleButton {
  border: 2px solid goldenrod;
}

.ButtonsNav{
  /* border: 2px solid aqua; */
  background-color: #0D3551;
  display: flex;
  gap:'3px';
  /* align-items: center; */
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 10px;
  
}

.ButtonsNav>button{

  color: #0565a9;
  border-radius: 4px;
  padding: 6px;
  margin-left: 7px;
  border: none;
  text-transform: uppercase;


}

.SingleButton{
  color: #0565a9;
  border-radius: 4px;
  padding: 6px;
  margin-left: 7px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;



}
.SingleButton>button{
 
}



